
@{
    Layout = "_CustomLayout";
    ViewData["Title"] = "Trang chủ";
    ViewData["hi"] = "hiiiii";
}
<div class="p-5 alert-info text-center">
    <h1 class="display-5">Quản Lý Nhân Viên</h1>
    <p>@DateTime.Now</p>
</div>
<table class="table table-warning">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên NV</th>
            <th scope="col">Mã số NV</th>
            <th scope="col">Tiền Lương</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Doan Minh Khang</td>
            <td>191102009</td>
            <td>6.290.000 ₫ </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Trí</td>
            <td>191100057</td>
            <td>
                4.990.000 ₫
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Nha</td>
            <td>191100057</td>
            <td>
                5.990.000 ₫
            </td>
        </tr>
    </tbody>
</table>

