
@{
    ViewData["Title"] = "LienHe";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h1 class="p-5 my-2 bg-danger display-5">Liên hệ ứng tuyển NV</h1>
<div class="card my-3 mx-auto" style="max-width: 600px">
    <div class="card-header bg-dark font-weight-bold text-white">Liên hệ</div>
    <div class="card-body alert-danger">
        <form action="" method="POST">

        <div class="form-group">
            <label>Nội dung</label>
            <textarea class="form-control" name="noidung" cols="30" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-info">Gửi</button>
    </form>
</div>
</div>
